@page
@model RazorPages.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>We could not find the resource you requested.</h1>
<a asp-page="/Employees/Index" class="btn btn-primary"> Click here for employee list</a>

